<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6c4d4abc-ea17-4103-a890-d578cc916365/resourcegroups/ProjectsWebAppDataAccsess20241214142033ResourceGroup/providers/Microsoft.ContainerRegistry/registries/ProjectsWebApp</ResourceId>
    <ResourceName>ProjectsWebApp</ResourceName>
    <ResourceGroup>ProjectsWebAppDataAccsess20241214142033ResourceGroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://projectswebapp.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>